.cartascontainer {
  display: flex; /* Muestra las tarjetas en una fila */
  flex-wrap: nowrap; /* Permite que las tarjetas se envuelvan cuando no quepan en una fila */
  gap: 16px; /* Espacio entre las tarjetas */
  justify-content: center; /* Distribuye el espacio horizontalmente entre las tarjetas */
}
.card-deck {
  display: flex;
  flex-wrap: wrap; /* Evita que las tarjetas se envuelvan en múltiples filas */
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si las tarjetas no caben en el ancho de la pantalla */
  scroll-snap-type: x proximity; /* Añade desplazamiento con "snap" para alinear tarjetas */
  justify-content: center;
}
.card-deck .card {
  margin-right: 20px; /* Agrega un margen derecho de 10px entre las tarjetas */
}
.card-img-top {
  width: 300px;
  height: 187px;
}
