.backgroundimage {
    width: 110%;
    height: 700px;
    border-radius: 10px;
    background-image: url("/imagenes/Fondolanding.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 100px;
    left: -40px;
  }

  @font-face {
    font-family: 'Zasline'; /* Nombre que asignarás a la fuente */
    src: url('fuentes/Zasline.otf') format('truetype'); /* Ruta al archivo de fuente */
  }

  @font-face {
    font-family: 'Quahon'; /* Nombre que asignarás a la fuente */
    src: url('fuentes/Quahon.otf') format('truetype'); /* Ruta al archivo de fuente */
  }

  @font-face {
    font-family: 'Replay'; /* Nombre que asignarás a la fuente */
    src: url('fuentes/Replay.otf') format('truetype'); /* Ruta al archivo de fuente */
  }
  

.header {
    width: 90%;
    height: 500px;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    bottom: 520px ;
    left: 50px;
    font-family: 'Zasline';
  }

  
  .introduction {
    width: 90%;
    height: 500px;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 850px;
    left: 60px;
    font-family: 'Quahon'; /* Utiliza el nombre asignado en font-family */

  }

  .info1 {
    text-align: center;
    color: black;
    font-size: 40px;
    letter-spacing: -1px;
    position: relative;
    right: 320px;
    bottom: 950px;
    font-family: 'Replay';
    line-height: 0;
  }

  .info2 {
    text-align: center;
    color: black;
    font-size: 40px;
    position: relative;
    right: 320px;
    bottom: 1640px;
    font-family: 'Replay';
    line-height: 0;
}

  .info3 {
    text-align: center;
    justify-content: flex-end;
    color: black;
    font-size: 17px;
    position: relative;
    line-height: 0;
    left: 550px;
    bottom: 1700px;
    width: 480px;
  }

  .chart1 {
    font-size: 20px;
    color: white;
    position: relative;
    background-color: black;
    border: 60px solid #000000;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-family: 'Quahon';
    left: 0px;
    bottom: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }

  .chart2 {
    font-size: 20px;
    color: white;
    position: relative;
    background-color: #868686;
    border: 60px solid #868686;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-family: 'Quahon';
    left: 200px;
    bottom: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }
  
  .chart3 {
    font-size: 20px;
    color: white;
    position: relative;
    background-color: #613b3b;
    border: 60px solid #613b3b;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    font-family: 'Quahon';
    left: 0px;
    bottom: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }

  .chart4 {
    font-size: 20px;
    color: white;
    position: relative;
    background-color: #3e773c;
    border: 60px solid #3e773c;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    font-family: 'Quahon';
    left: 200px;
    bottom: 1340px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }

  .chart5 {
    font-size: 20px;
    color: white;
    position: relative;
    background-color: #7a7a7ae0;
    border: 60px solid #7a7a7ae0;
    width: 300px;
    height: 200px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    font-family: 'Quahon';
    left: 600px;
    bottom: 1700px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }
  
  .c1 {
    background-image: url("/imagenes/c1.jpg");
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 1600px;
    left: -120px;
    background-size: cover;
  }

  .c2 {
    background-image: url("/imagenes/c2.jpg");
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 1900px;
    left: 320px;
    background-size: cover;
  }

  .c3 {
    background-image: url("/imagenes/c3.jpeg");
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 2200px;
    left: 750px;
    background-size: cover;
  }

  .c4 {
    background-image: url("/imagenes/c4.jpg");
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 2100px;
    left: 100px;
    background-size: cover;
  }

  .c5 {
    background-image: url("/imagenes/c5.jpg");
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 2400px;
    left: 550px;
    background-size: cover;
  }
  