@font-face {
  font-family: 'Zasline'; /* Nombre que asignarás a la fuente */
  src: url('fuentes/Zasline.otf') format('opentype'); /* Ruta al archivo de fuente */
}

@font-face {
  font-family: 'Quahon'; /* Nombre que asignarás a la fuente */
  src: url('fuentes/Quahon.otf') format('opentype'); /* Ruta al archivo de fuente */
}

@font-face {
  font-family: 'Replay'; /* Nombre que asignarás a la fuente */
  src: url('fuentes/Replay.otf') format('opentype'); /* Ruta al archivo de fuente */
}


.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgroundimage {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 80px;
  left: 0;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Zasline';
}

.h2{
  font-family:'Quahon' ;
}

.content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left-column {
    text-align: left;
    color: black;
    font-size: 20px;
    margin-right: 20px;
}

.right-column {
    text-align: left;
    color: black;
    font-size: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.c1,
.c2,
.c3,
.c4,
.c5 {
    width: 200px; /* Ajusta el ancho según tu diseño */
    height: 300px; /* Ajusta la altura según tu diseño */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px; /* Espaciado entre las imágenes */
}

.image {
    width: 100%;
    height: 100%;
}

.chartItem{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: black;
  color: white;
}



  