@font-face {
  font-family: 'Zasline';
  src: url('fuentes/Zasline.otf') format('opentype');
}

@font-face {
  font-family: 'Replay'; 
  src: url('fuentes/Replay.otf') format('opentype');
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgroundimage {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 80px;
  left: 0;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Zasline;
}

.search{
  position: relative;
top: -45px;
left: 322px;
width: 45px;
height: 45px;
color: rgb(0, 0, 0);
background-color: #fff;
border: 1px solid #ccc;
border-radius: 10px;
padding: 7px;
cursor: pointer;
}

.rent {
  position: relative;
  top: 1px;
  right: -1px;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  width: 120px;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.filters {
  position: relative;
  top: -200px;
  left: 250px;
}







